/* Action Color */
@font-face {
  font-family: "Avenir-Next-Webfont";
  src: url("../fonts/Avenir-Next-Webfont/Avenir-Next-Regular/AvenirNextRegular.woff2") format("woff2"), url("../fonts/Avenir-Next-Webfont/Avenir-Next-Regular/AvenirNextRegular.woff") format("woff"), url("../fonts/Avenir-Next-Webfont/Avenir-Next-Regular/AvenirNext-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext-Medium";
  src: url("../fonts/Avenir-Next-Webfont/AvenirNext-Medium/AvenirNext-Medium.woff2") format("woff2"), url("../fonts/Avenir-Next-Webfont/AvenirNext-Medium/AvenirNext-Medium.woff") format("woff"), url("../fonts/Avenir-Next-Webfont/AvenirNext-Medium/AvenirNext-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir-Next-DemiBold";
  src: url("../fonts/Avenir-Next-Webfont/AvenirNext-DemiBold/AvenirNext-DemiBold.woff2") format("woff2"), url("../fonts/Avenir-Next-Webfont/AvenirNext-DemiBold/AvenirNext-DemiBold.woff") format("woff"), url("../fonts/Avenir-Next-Webfont/AvenirNext-DemiBold/AvenirNext-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext-Heavy";
  src: url("../fonts/Avenir-Next-Webfont/AvenirNext-Heavy/AvenirNext-Heavy.woff2") format("woff2"), url("../fonts/Avenir-Next-Webfont/AvenirNext-Heavy/AvenirNext-Heavy.woff") format("woff"), url("../fonts/Avenir-Next-Webfont/AvenirNext-Heavy/AvenirNext-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext-Bold";
  src: url("../fonts/Avenir-Next-Webfont/AvenirNext-Bold/AvenirNext-Bold.woff2") format("woff2"), url("../fonts/Avenir-Next-Webfont/AvenirNext-Bold/AvenirNext-Bold.woff") format("woff"), url("../fonts/Avenir-Next-Webfont/AvenirNext-Bold/AvenirNext-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.primary-btn {
  background: #A8D36A;
  border: 1px solid #A8D36A;
  padding: 20px 24px;
  color: #292D32;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
}
.primary-btn:hover {
  background: #9bc363;
  border-color: #9bc363;
}

.second-btn {
  background: transparent;
  border: 1px solid #fff;
  padding: 20px 24px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
}
.second-btn:hover {
  background: #fff;
  border: 1px solid #fff;
  color: #292D32;
}

/* Headding Start Here */
.heading_1 {
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 1.8px;
  font-weight: 300 !important;
  font-style: normal;
}

.heading_2 {
  font-weight: 300 !important;
  font-style: normal;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: 0.8px;
}

.heading_3 {
  font-weight: 300 !important;
  font-style: normal;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: 1px;
}

.heading_4 {
  font-weight: normal !important;
  font-style: normal;
  font-size: 32px;
  line-height: 36px;
}

.heading_5 {
  font-style: normal;
  font-weight: 700 !important;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
}

.heading_6 {
  font-style: normal;
  font-weight: bold !important;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
}

/* Headding End Here */
.text-white {
  color: #fff;
}

input {
  background: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  padding: 20px 24px;
  border-radius: 8px;
  border: 1px solid #fff;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 0;
}

body {
  background: #DEDEDE;
}
body .footer-banner {
  background: #fff;
  position: relative;
  z-index: 0;
}
body .footer-banner::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: #DEDEDE;
  height: 40px;
  width: 100%;
  z-index: -1;
}
body .footer-banner .footer-banner-shape {
  position: relative;
}
body .footer-banner .footer-banner-shape::after {
  position: absolute;
  content: "";
  top: 0;
  right: -77px;
  background: #A8D36A;
  height: 100%;
  width: 180px;
  z-index: 1;
  -webkit-clip-path: polygon(0% 0%, 58% 0%, 100% 100%, 42% 100%);
          clip-path: polygon(0% 0%, 58% 0%, 100% 100%, 42% 100%);
}
body .footer-main {
  background: #292D32;
  padding: 48px 0 24px;
}
body .footer-main .left-side {
  max-width: 510px;
}
body .footer-main .left-side .sub-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-align: left;
}
body .footer-main .righ-side input {
  width: 80%;
}
body .footer-main .righ-side .primary-btn {
  width: 20%;
}
body .footer-main .righ-side .value-btn {
  gap: 24px;
}
body .footer-main .quick-link-main {
  border-top: 1px solid #4E4E4E;
  border-bottom: 1px solid #4E4E4E;
  padding: 12px 0;
  margin-top: 32px;
}
body .footer-main .quick-link-main .quick-menu {
  gap: 16px;
  padding-left: 0;
}
body .footer-main .quick-link-main .quick-menu li a {
  text-decoration: none;
}

.top_header {
  background: #292D32;
  display: block;
  width: 100%;
  padding: 22px 0px;
}
.top_header .btn_outline_primary {
  border-radius: 30px;
  border: 1px solid var(--Green, #A8D36A);
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.16px;
  padding: 8px;
}
.top_header .btn_outline_primary p {
  width: 98px;
  text-align: left;
}
.top_header .circle {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid #fff;
}
.top_header .itra_partner p {
  margin: 0px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
  letter-spacing: -0.14px;
}
.top_header .dropdown-toggle {
  text-decoration: none;
}
.top_header .dropdown-toggle::after {
  display: none;
}

.bottom_header .navbar-expand-lg {
  padding: 25px 0px;
}
.bottom_header .navbar-expand-lg .navbar-toggler {
  border: none;
  padding: 0px;
}
.bottom_header .navbar-expand-lg .navbar-toggler .navbar-toggler-icon {
  background-image: url("../images/menu_bar.svg");
}
.bottom_header .navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 16px;
}
.bottom_header .navbar-expand-lg .navbar-nav .nav-item:first-child {
  padding-left: 0px;
}
.bottom_header .navbar-expand-lg .navbar-nav .nav-item .nav-link {
  color: #292D32;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
  letter-spacing: -0.14px;
  padding: 0px;
}
.bottom_header .dropdown-toggle::after {
  border: none;
  content: url("../images/arrow-down_black.svg");
  vertical-align: middle;
}
.bottom_header .dropdown-toggle.show::after {
  transform: rotateZ(180deg);
}

@media (max-width: 768px) {
  .top_header .logo {
    display: none;
  }
  .top_header .dropdown_language p {
    display: none;
  }
  .top_header .user_dropdown p {
    display: none;
  }
}
@media (max-width: 1199px) {
  body .footer-banner .footer-banner-shape::after {
    right: -62px;
    width: 140px;
    z-index: 1;
    -webkit-clip-path: polygon(0% 0%, 58% 0%, 100% 100%, 42% 100%);
            clip-path: polygon(0% 0%, 58% 0%, 100% 100%, 42% 100%);
  }
  body .footer-banner .right-img-footer-banner {
    width: 140px;
  }
}
@media (max-width: 991px) {
  body .footer-banner::before {
    height: 26px;
  }
}