// Custom Select

.form-select {
	border-radius: 8px;
	padding: 8px 12px;
	border-color: #DEDEDE;
	height: 36px;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	color: #292D32;
}

// performance-index-card

.performance-index-card{
  font-family: "Montserrat", sans-serif;
  color: #292D32;
  padding: 24px;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  border-radius: 12px;
  .left{
    .title-head{
      margin-bottom: 16px;
      .title{
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        width: 100%;
        img{
          margin-left: 10px;
        }
      }
      .index-select{
        width: 250px;
      }
    }
    .performance-progress{
      position: relative;
      padding-bottom: 60px;
      .progress-bar{
            background: linear-gradient(90deg, #60C188 12.04%, #FFEA72 37.34%, rgba(255, 180, 112, 0.9) 61.62%, #FB636C 84.51%);
            border-radius: 30px;
            width: 100%;
            height: 10px;
      }
      .progress-popover{
        position: absolute;
        bottom: 16px;
        .popover-inner{
        background-color: #F3F3F3;
        padding: 10px;
        border-radius: 4px;
        color: #ffffff;
        height: 40px;
        display: inline-block;
        position: relative;
        &.low{
          background-color: #4D9E6E;
          color: #fff;
          &::before{
            border-bottom-color: #4D9E6E;
          }
        }
        &.med{
          background-color: #FFB470;
          &::before{
            border-bottom-color: #FFB470;
          }
        }
        &.high{
          background-color: #C94F56;
          &::before{
            border-bottom-color: #C94F56;
          }
        }
        &::before{
          content: "";
          position: absolute;
          right: 20px;
          top: -10px;
          width: 0;
          height: 0;
          border-style: solid;
          border-right: 10px solid transparent;
          border-left: 10px solid transparent;
          border-bottom: 10px solid #F3F3F3;
          border-top: 0;
        }
        span{
          font-size: 20px;
          line-height: 20px;
          color: #ffffff;
          
          padding: 0 7px;
          font-weight: 700;
          &.elite{
            font-size: 16px;
            list-style: 16px;
            font-weight: 500;
            border-left: 1px solid #ffffff;
          }
        }
        }
      }
    }
  }
  .right{
    margin-left: 56px;
    padding-left: 32px;
    border-left: 1px solid #DEDEDE;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    .profile-info{
      display: flex;
      flex-direction: column;
      gap: 12px;
      .info-block{
          display: flex;
          gap: 16px;
          .label{
              font-weight: 700;
              font-size: 14px;
              line-height: 14px;
              color: #292D32;
              width: 120px;
              .icon{
                margin-right: 16px;
              }
          }
          .value {
              font-weight: 400;
              font-size: 14px;
              line-height: 14px;
              color: #585858;
          }
      }
    }
    .profile-status {
      flex-direction: column;
      padding: 0px;
      max-width: 221px;
    text-align: right;
           
      .social-icon{
        display: flex;
        align-items: flex-end;
        gap: 16px;
        flex-grow: 0;
        justify-content: flex-end;
        margin-bottom: 16px;
        
      }
      .status-btn{
        flex-direction: column;
        .status{
          background: #F3F3F3;
          padding: 8px 16px 8px 16px;
          border-radius: 8px;
          border: none;
          &:focus{
            outline: none;
            box-shadow: none;
            border: none;
          }
          &.subscription-status{
            margin-bottom: 8px;
          }
  
          .label{
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: -0.01em;
            color: #292D32;
  
          }
          .value{
            font-size: 14px;
            font-weight: 600;
            line-height: 16px;
            letter-spacing: -0.02em;
            color: #292D32;
  
          }
        }
      }
      
    }
  }
}