@media (min-width:1440x) and (max-width: 1920px){
    
}
@media(min-width:1281px) and (max-width:1439px){
    
}
@media(max-width:1199px) {
    body{
        .footer-banner{
           
            .footer-banner-shape{
            
                &::after{
                    right: -62px;
                    width: 140px;
                    z-index: 1;
                    clip-path: polygon(0% 0%, 58% 0%, 100% 100%, 42% 100%);
                }

                
            }
            .right-img-footer-banner {
                width: 140px;
            }
        }
    }
}

@media(max-width:991px){
    body{
        .footer-banner{
            &::before{
                height: 26px;
            }
        }
    }
}
@media(max-width:881px){
    
    
}
@media(max-width:767px){
    

    
    
}


@media(max-width:575px){
    
}