@media (min-width:1440x) and (max-width: 1920px){
    
}

@media(max-width:1440px) {
    .footer-main{
        .righ-side {
            input{
                width: 75%;
            }
            .primary-btn{
                width: 25%;
            }
        }
    }
}
@media(max-width:1199px) {
    
    .performance-index-card {
        .left{
            width: 40%;
        }
       .right {
        margin-left: 36px;
        padding-left: 22px;
        .profile-info{
            .info-block{
                .label{
                    width: 140px;
                }
            }
        }
       }
    }




    
        .footer-banner{
            .footer-banner-shape{
                &::after{
                    right: -62px;
                    width: 140px;
                    z-index: 1;
                    clip-path: polygon(0% 0%, 58% 0%, 100% 100%, 42% 100%);
                }

                
            }
            .right-img-footer-banner {
                width: 140px;
            }
        }
    
}

@media(max-width:991px){
    input{
        font-size: $body16;
        padding: $gap_16 $gap_16;
    }
        .footer-banner{
            &::before{
                height: 26px;
            }
        }
        .footer-main{
            .righ-side {
                input{
                    width: 62%;
                }
                .primary-btn{
                    width: 38%;
                }              
            }
        }
    
}

@media(max-width:767px){
    .performance-index-card {
        background: transparent;
        border: none;
        flex-direction: column;
        padding: 0;
        gap: 12px;
        .left{
            width: 100%;
            padding: 16px;
            background: #FFFFFF;
            border: 1px solid #F3F3F3;
            border-radius: 12px;
            .title-head{
                .title{
                    font-size: 14px;
                    line-height: 14px;
                    img{
                        margin-left: 8px;
                    }
                }
                .index-select{
                    width: 130px;
                    font-size: 14px;
                    line-height: 14px;
                }
            }
            .performance-progress{
                padding-bottom: 50px;
                .progress-popover{
                    bottom: 0;
                }
            }
        }
       .right {
        margin-left: 0;
        padding-left:0;
        width: 100%;
        padding: 16px;
        background: #FFFFFF;
        border: 1px solid #F3F3F3;
        border-radius: 12px;
        flex-direction: column;
        gap: 24px;


        .profile-info{
            .info-block{
                .label{
                    width: 140px;
                }
            }
        }
        .profile-status{
            .social-icon{
                justify-content: flex-start;
                gap: 12px;
            }
            .status{
                &.status.subscription-status{
                    margin-bottom: 16px;
                }
                .label{
                    font-size: 14px;
                    line-height: 14px;
                }
                .value{
                    font-size: 14px;
                    line-height: 16px;
                }
            }
            
        }
        
       }
    }
   
    .footer-main{
        padding: $gap_32 0 ;
        .footer-logo{
            margin-bottom: $gap_24;
        }

        .left-side{
            // padding: 0 $gap_10;
            h5{
                &.mt_40{
                    margin-top: 32px;
                }
                &.mb_24{
                    margin-bottom: $gap_20;
                }
            }
        }
        .righ-side{
            // padding: 0 $gap_10;
            margin-top: $gap_32;
            h5{
                &.mb_24{
                    margin-bottom: $gap_16;
                }
                
            }
            .our-value-column{
                .value-btn{
                    gap: $gap_18 $gap_18;
                }
            }
        }
        .quick-link-main{
            .quick-menu{
            // padding: 0 $gap_10;
        }
            .social-media-icon{
                // padding: 0 $gap_10;
                margin-top: $gap_24;
            }
        }
        .copywrite-section{
            // padding: 0 $gap_10;
            
            .copywrite{
                text-align: center;
                margin-bottom: $gap_16;
                p{
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 12px;

                }
                ul{ 
                    li{
                        a{
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 12px;
                        }
                    }
                }
            }
        }
    }
    
}


@media(max-width:575px){
    
}