// Primary Colors
$primary: #8bd03c; 
$primary_light: #E2F789;
$primary_dark: #426114;

// Secondary Colors
$purple_light: #D296F8;
$purple_dark: #2D0447;
$orange_light: #FFCB66;
$orange_dark: #48380F;

// Neutral Colors
$dark: #1B1B1B;
$dark_dark_grey: #585858;
$dark_medium_grey: #9D9D9D;
$dark_light_grey: #F3F3F3;

/* Action Color */
$info:#ADF4FE;
$error:#FFA5A5;
$success:#AAFFC2;
$warning:#FDEC94;
